label {
    width: 130px;
    text-align: right;
    margin-right: 20px;
    font-weight: 550;
}
span{
    margin-right: 20px;
    font-weight: 550;
}
input{
    border: 1px solid black;
}
h2{
    text-align: center;
}
.Lbutton{
    text-align: center; 
    margin-top: 20px;
}
.close{
    margin-right: 20px;
}
